.total{
    text-align: center;
    width: 30rem;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label{
    margin-top: 20rem ;
    text-decoration: none!important;
    color: rgb(0, 0, 0);
    background-color: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.1rem;
}